<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <!--<form name="categoryForm" action="/categories" method="post">-->
                    <!--<input type="hidden" name="action" value="category">-->
                <!--<a onclick="categoryForm.submit()"><i class="fas fa-tags"></i> Category</a>-->
                <!--</form>-->
                <a href="/catalogCategory"><i class="fas fa-home"></i> Category</a>
            </li>
            <li>
                <a href="/"> <i class="fas fa-info-circle"></i> About Us</a>
            </li>
            <li>
                <a href="/"> <i class="fa fa-phone" aria-hidden="true"></i> Contact Us</a>
            </li>
        </ul>
    </nav>



</body>

</html>
